#parent{
    display: flex;
    background-color: #ffeecc
}
#parent>div{
    height: 720px;
}
#parent>div:nth-child(1){
    width: 500px;
}
#parent>div:nth-child(2){
    width: 850px;
    background-color: white;
    text-align: center;
}

#image>img:nth-child(1){
    height: 35px;
    width: 130px;
    margin: 10px 10px
}
#image>img:nth-child(2){
   height: 300px;
   width: 470px; 
   margin-top: 130px;
   margin-left:15px ;
}
#signup>h2{
    margin-top: 120px;
    margin-bottom: 30px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    
}
p{
    margin-left: -330px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
input{
    height: 45px;
    width: 400px;
    border: 0px;
    border-radius: 5px;
    background-color:#f2f2f2;
    margin-bottom: 20px;
}
button{
    height: 45px;
    width: 400px;
    border: 0px;
    background-color: #f1c680;
    color: #e05d20;
    font-size: 20px;
    margin-top: 30px;
}

